/*Author: Nicolas Chiasson, 000367862.
  Date: 2024/03/03*/
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 10px;
}

h1, #statement {
    font-size: 40px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 10px;
}

.sect-header {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #252525;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #252525;
    line-height: 1.5;
    margin-bottom: 20px;
}

#education, #projects, #contact {
    background-color: rgb(158, 235, 237);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
}

#statement, #skills, #resume {
    background-color: rgb(93, 176, 248);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
}

#tech-skills, #soft-skills {
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    padding: 0px;
    background-color: rgb(158, 235, 237);
    border-color: rgb(15, 88, 127);
}

#project-div, .jobs {
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(158, 235, 237);
    border-color: rgb(15, 88, 127);
}

#certifications {
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    padding: 0px;
    background-color: rgb(158, 235, 237);
    border-color: rgb(15, 88, 127);
}

#skills{
    padding-left: 7%;
    padding-right: 7%
}

ul li {
    list-style-position: inside;
}

